<%- include('partials/header.ejs'); %>

    <body>
        <%- include('partials/navbar.ejs'); %>

        <div class="container">

            <center><h1>QUESTIONS!</h1>
            <a href="/question" id="btn-question" class="btn btn-primary btn-lg btn-block">Make a question.</a>
            </center>
            <hr>

            <% questions.forEach(questions => { %>
                <br>

                <div id="card-body" class="card-body"> 
                    <a style="text-decoration:none" href="/question/<%= questions.id%>"><h3><%= questions.title %></h3></a>
                </div>
                <div class="card-footer">
                    <a href="/question/<%= questions.id%>"><button class="btn btn-primary">Answers</button></a>
                </div>

            <% }) %>

        </div>


    </body>
    <%- include('partials/footer.ejs'); %>